<header>
  <!-- The <i> tag below includes the lizzard hand icon from Font Awesome -->
  <h1 class="site-title"><a href=""><img src="WWT.png" alt="World Wide Technology"></img></a></h1>

  <nav class="navbar">
    <ul class="navlist">
      <li id="home" class="navitem navlink active"><a href="">Home</a></li>
      <li id="trending" class="navitem navlink"><a href="#">Trending</a></li>
      <li id="people" class="navitem navlink"><a href="#">People</a></li>
      <!-- <li class="navitem navbar-search"> -->
        <!-- <input type="text" id="navbar-search-input" placeholder="Search...">
        <button type="button" id="navbar-search-button"><i class="fas fa-search"></i></button> -->
      </li>
    </ul>
  </nav>
</header>
